body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 100vw;
}


nav {
  display: flex;
  width: 98vw;
  justify-content: space-between;
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: black
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* user home page */

table {
  width: 30vw;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-home {
  height: 90vh;
  width: 60vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-home button {
  border-radius: 6px;
  background-color: lightgray;
  width: 100px;
}

.home-headings {
  background-color: lightgrey;
  height: 60px;
  width: 60vw;
  display: flex;
  justify-content: center
}

.invite {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 50px
}

.invite input {
  padding: 8px;
  border-radius: 6px
}


/* Game parts */

.score-board {
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  min-width: 300px;
  max-height: 50px;
  max-width: 300px;

}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.rack {
  min-height: 40px;
  min-width: 40px;
  max-height: 600px;
  max-width: 600px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
  padding-bottom: 10px
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 540px;
  min-width: 540px;
  max-height: 540px;
  max-width: 540px;

}

.row {
  display: flex;
  justify-content: space-between;
}

.square {
  min-height: 31px;
  min-width: 31px;
  max-height: 31px;
  max-width: 31px;
  border: solid 1px black;
  text-align: center
}

.tile {
  border: solid 1px black;
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}




